/* Navigation Styling */
 
/* 
    ul {
        list-style: none;
        padding: 0;
    } */

    .icon {
        width: 30px;
        height: 30px;
        vertical-align: middle;
        margin-right: 10px;
    }
