
    body {
        background-image: none;
    }
    
    #facts-nav {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 30px;
    }
    #main-timeline {
        background-image: url('../assets/bikini-bottom.png');
        background-size: cover;
    }
    ul {
        list-style: none;
        padding: 0;
    } 

    #lore {
        background-image: url('../assets/all-characters.png');
    }

    #random-facts {
        background-image: url('../assets/houses.png');
    }

    .icon {
        width: 30px;
        height: 30px;
        vertical-align: middle;
        margin-right: 10px;
    }

    li {
        color: yellowgreen;
    }
    footer {
        color: white;
    }

    .h1-image {
        animation: gentle-rotate 8s ease-in-out infinite;
    }

@keyframes gentle-rotate {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}


.bubble {
    position: fixed;
    bottom: -60px;
    width: 25px;
    height: 25px;
    /* background: rgba(0, 162, 255, 0.5); */
    background: lightblue;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 162, 255, 0.6); /* Glow effect */
    z-index: 0; 
    animation: rise 10s infinite ease-in;
}

@keyframes rise {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-110vh) scale(1.8);
        opacity: 0;
    }
}
